# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
[Mm]emoryCaptures/

# Asset meta data (폴더 삭제 시에만 무시)
!/[Aa]ssets/**/*.meta

# Visual Studio / Rider / VS Code
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store

# Logs
!Logs/
Logs/*
!Logs/.gitkeep
